  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    /* Estilos generales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    /* Estilos del encabezado */
    header {
      background-color: #333;
      color: #fff;
      padding: 23px;
    }
    
    h1 {
      margin: 0;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    /* Estilos del cuerpo */
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    h2 {
      color: #333;
      font-size: 28px;
      margin-top: 30px;
    }
	
	#a {
      color: black;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: inline-block;
      margin-right: 20px;
      width: 200px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    #li {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: inline-block;
      margin-right: 20px;
      width: 302px;
    }
    
    li:last-child {
      margin-right: 0;
    }
    
    li h3 {
      background-color: #333;
      color: #fff;
      font-size: 18px;
      margin: 0;
      padding: 10px;
    }
    
    li img {
      display: block;
      height: 200px;
      margin: 0 auto;
      width: 300px;
    }
    
    li p {
      margin: 10px;
    }
    
    button {
      background-color: #333;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 16px;
      margin: 10px auto;
      padding: 10px;
      text-align: center;
      width: 200px;
    }
    
    /* Estilos del pie de página */
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    
    footer p {
      margin: 0;
    }
/* Estilo para Iconos*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.icons {
	display: flex;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--twitter:hover {
	background-color: #1da1f2;
	outline-color: #1da1f2;
}
.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}
		/* Estilos para los botones */
		.button {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
			margin-left: 10px;
		}
/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  color: white;
  padding: 5px;
  position: relative;
  top: 0;
  width: 5000px;
  z-index: 1;
  transition: top 0.2s;
}

/* Estilos para los enlaces de la barra de navegación */
.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Estilos para los enlaces activos de la barra de navegación */
.active {
  background-color: #4CAF50;
}
/* Estilos para los botones cuando el mouse pasa por encima */
.navbar a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}
/* Estilos para la sección de contenido */
.content {
  white-space: nowrap;
  max-width: auto;
  height: 370px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
	outline: 2px solid #000000;
  scroll-behavior: auto; /* Hace el scroll suave y automático */
}
.imagen-con-texto {
	background: url('enseñar1.png') no-repeat center center fixed;
	background-size: cover;
  position: relative;
	height: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  flex: 10;
}
.image img {
  width: 500px;
  height: auto;
}
.contenta {
  flex: 1;
  margin-left: 20px;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
}
